@font-face {
  font-family: "GT Pressura Mono";
  src: url("../fonts/GT\ Pressura\ Mono\ Regular.otf") format("opentype");
}

@font-face {
  font-family: "AlternateGotNo1D";
  src: url("../fonts/AlternateGotNo1D\ Regular.ttf") format("opentype");
}

@font-face {
  font-family: "AkzidenzGroteskProCN";
  src: url("path/to/akzidenzgroteskpro_cn.otf") format("opentype");
}

@font-face {
  font-family: "Futura75Bold";
  src: url("path/to/FUTURA75BOLD.ttf") format("truetype");
}
@font-face {
  font-family: "Futura55Regular";
  src: url("path/to/FUTURA55REGULAR.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden !important; */
}

.gtpressuramono {
  font-family: "GT Pressura Mono", monospace;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 13px;
  line-height: 18px;
}

.alternategotno1d {
  font-family: "AlternateGotNo1D", sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 75px;
  line-height: 61px;
  /* font-size: 95px;
  line-height: 61px; */
}

.akziden {
  font-family: "AkzidenzGroteskProCN", sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 23px;
}

.futura {
  font-family: "Futura55Regular", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.img-container {
  /* width: 300px;
  height: 300px; */
}

.navbar-logo {
  /* width: 100%;
  max-width: none; */
}

.green-bg {
  background-color: #004621;
}

      /* Remove aos animation for small screens */
      @media screen and (max-width: 768px) {
    /* Override data-aos attribute for small screens */
      [data-aos] {
        opacity: 0; /* You can set any other styles as per your requirement */
        transform: none;
        transition: none;
      }
    }
    
    /* Media query for medium screens */
@media screen and (min-width: 768px) {
  /* Re-enable AOS animations for medium screens */
  [data-aos] {
    opacity: 0;
    transform: translateY(50px); /* Or any other initial animation state */
    transition-property: opacity, transform;
  }
}
